{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/AddQst.css' %}">
    <title>Document</title>
</head>

<body>
    <script src="{% static 'js/script1.js' %}"></script>

    <nav>
        <a href="{% url 'Home2' %}">Home</a>
        <a href="{% url 'UserReg' %}">Register As User</a>
    </nav>


    <!-- main code ithanu -->
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}"> <!-- ivde venam -->
        <input type="button" value="Add Question" onclick="create()">
        <input type="submit">
        <div id="QuestionBox"></div>
    </form>
    <!-- main code ithanu -->
    {% for i in QuestionAndOptions %}
    <ul>
        <div id="Qbox">
            <p><b>Question {{ forloop.counter }}:</b> {{ i.Ques }}</p>
            <p>Option 1:{{ i.op1 }}</p>
            <p>Option 2:{{ i.op2 }}</p>
            <p>Option 3:{{ i.op3 }}</p>
            <p>Option 4:{{ i.op4 }}</p>
            <P>{{ i.correct }} is selected as correct answer</P>
            <a href="{% url 'EditQues' i.id %}?category={{ category }}">
                <button>Edit</button>
            </a>
            <a href="{% url 'Delete11' i.id %}"
                onclick="return confirm('Are you sure you want to delete this question?');"><button>Delete</button></a>
        </div>
    </ul>
    </div>
    {% endfor %}


</body>
</html>