{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/AddQst.css' %}">
    <title>Document</title>
</head>

<body>
    <script src="{% static 'js/script1.js' %}"></script>


    <!-- <p>this is add html</p> -->
        <a href="{% url 'Admin' %}">Admin</a>
        <a href="{% url 'User' %}">User</a>
        <a href="{% url 'TakeQuiz' %}">Quiz</a>
        <a href="{% url 'AddQst' %}?category=General">Add Questions</a>
    <p>Add Question .html</p>

    <!-- main code ithanu -->
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}"> <!-- ivde venam -->
        <input type="button" value="Add Question" onclick="create()">
        <input type="button" value="remove" onclick="remove()">
        <input type="submit">


        <!-- js nu vendiyulla div -->
        <div id="QuestionBox"></div>
        <!-- js nu vendiyulla div -->


    </form>
    <!-- main code ithanu -->
    {% for i in QuestionAndOptions %}
    <ul>
        <div id="Qbox">
            <p><b>Question {{ forloop.counter }}:</b> {{ i.Ques }}</p>
            <p>Option 1:{{ i.op1 }}</p>
            <p>Option 2:{{ i.op2 }}</p>
            <p>Option 3:{{ i.op3 }}</p>
            <p>Option 4:{{ i.op4 }}</p>
            <P>{{ i.correct }} is selected as correct answer</P>
            <button>Edit</button>
            <a href="{% url 'Delete11' i.id %}"
                onclick="return confirm('Are you sure you want to delete this question?');"><button>Delete</button></a>
        </div>
    </ul>
    </div>
    {% endfor %}


</body>

</html>