{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="{% static 'js/script1.js' %}"></script>

    <!-- <p>This is Admin html</p> -->
    <nav>
        <a href="{% url 'Admin' %}">Admin</a>
        <a href="{% url 'User' %}">User</a>
        <a href="{% url 'TakeQuiz' %}">Quiz</a>
        <a href="{% url 'UserReg' %}">User Reg</a>
        <a href="{% url 'AddQst' %}?category=General">Add Questions</a>
    </nav>
    <form method="POST" id="CategoryForm">
        {% csrf_token %}
        <!-- JS will inject category name & description inputs here -->
    </form>

    <button type="submit" value="addcategory" onclick="CreateCategory()">Create Category</button>

    <div id="CategoryDiv">

    </div>
    <div id="CategoriesList">
        {% for i in NamesDes %}
        <div id="CatBox">
            <p>{{ i.CategoryName }}</p>
            <p>{{ i.CategoryDescription }}</p>
            <!--URL becomes:/Add/?category=Python-->

            <a href="{% url 'AddQst' %}?category={{ i.CategoryName }}">
                <button type="button">Add Questions</button>
            </a>

        </div>
        {% endfor %}
    </div>

    <br><br>
    <marquee behavior="" direction="left">
        <footer>
            <p>&copy; 2026 Quiz Web | All rights reserved.</p>
        </footer>
    </marquee>
</body>

</html>