{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Page-specific CSS ONLY -->
    {% block css %}{% endblock %}
</head>
<body>

    {% block nav %}
    <nav>
         <nav>
        <a href="{% url 'User' %}">Home</a>
        <a href="{% url 'DisplayUser' user.id %}">My Profile</a>
        <a href="{% url 'Contact' %}">Contact</a>
        <a href="{% url 'About' %}">About</a>
    </nav>
    </nav>
    {% endblock %}

    <hr>
    <h1>{% block heading %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <hr>
    {% block footer %}
    <footer>
        <p>© 2026 Quiz App</p>
    </footer>
    {% endblock %}

</body>
</html>