{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Quiz.css' %}">
    <title>Document</title>
</head>

<body>
    <script src="{% static 'js/script1.js' %}"></script>
    <nav>


        <a href="{% url 'User' %}">Home</a>
        <a href="{% url 'DisplayUser' user.id %}">My Profile</a>
        <a href="{% url 'Contact' %}">Contact</a>
        <a href="{% url 'About' %}">About</a>
    </nav>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}">
        {% for i in QuestionAndOptions %}
        
            <div id="Qbox">
                <p><b>Question {{ forloop.counter }}</b></p>
                <ul>
                    <p>{{ i.Ques }}</p>
                    <input type="radio" name="{{ i.id }}" value="op1">{{ i.op1 }}</button><br>
                    <input type="radio" name="{{ i.id }}" value="op2">{{ i.op2 }} </button><br>
                    <input type="radio" name="{{ i.id }}" value="op3">{{ i.op3 }}</button><br>
                    <input type="radio" name="{{ i.id }}" value="op4">{{ i.op4 }}</button><br>
                </ul>
            </div>
        {% endfor %}
        <input type="submit" value="Submit Score">
    </form>

    {% if score is not None %}
    <div id="ScoreBoard">
    <p>scored {{ score }}</p> out of <p>{{ totalQ }}</p>
    </div>
    {% endif %}
</body>

</html>