{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <link rel="stylesheet" href="{% static 'css/User2.css' %}">

</head>

<body>
       <nav>
              <a href="{% url 'User' %}">Home</a>
              <a href="{% url 'Contact' %}">Contact</a>
              <a href="{% url 'About' %}">About</a>
              <a href="{% url 'DisplayUser' user.id %}">My Profile</a>
       </nav>
       <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <input type="text" name="name" placeholder="Name" value="{{ i.name }}" required>
              <br><br>

              <input type="email" name="email" placeholder="Email" value="{{ i.email }}" required>
              <br><br>

              <input type="text" name="education" placeholder="Education Qualification" value="{{ i.education }}"
                     required>
              <br><br>

              <input type="date" name="dob" value="{{ i.dob|date:'Y-m-d' }}" required>
              <br><br>

              <p>Current Photo:</p>
              <img src="{{ i.photo.url }}" width="120">
              <br><br>

              <input type="file" name="photo">
              <br><br>

              <button type="submit">Update</button>

       </form>
</body>

</html>