{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Question</title>
    <link rel="stylesheet" href="{% static 'css/updateQust.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'Home2' %}">Home</a>
        <a href="{% url 'UserReg' %}">Register As User</a>
    </nav>
    <br>
<form method="POST" action="?category={{ category }}">
    {% csrf_token %}
    <input type="hidden" name="category" value="{{ category }}">

    <label>Question</label>
    <input type="text" name="question" value="{{ i.Ques }}" required><br>

    <label>Option 1</label>
    <input type="text" name="op1" value="{{ i.op1 }}" required>

    <label>Option 2</label>
    <input type="text" name="op2" value="{{ i.op2 }}" required>

    <label>Option 3</label>
    <input type="text" name="op3" value="{{ i.op3 }}" required>

    <label>Option 4</label>
    <input type="text" name="op4" value="{{ i.op4 }}" required>

    <label>Correct Answer</label>
    <select name="CorrectAns" required>
        <option value="op1" {% if i.correct == 'op1' %}selected{% endif %}>Option 1</option>
        <option value="op2" {% if i.correct == 'op2' %}selected{% endif %}>Option 2</option>
        <option value="op3" {% if i.correct == 'op3' %}selected{% endif %}>Option 3</option>
        <option value="op4" {% if i.correct == 'op4' %}selected{% endif %}>Option 4</option>
    </select>

    <button type="submit">Update Question</button>
</form>

</body>
</html>
