{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/UserReg.css' %}">
</head>
<body>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    Name:<br>
    <input type="text" name="name" required><br><br>

    Email:<br>
    <input type="email" name="email" required><br><br>

    Education Qualification:<br>
    <input type="text" name="education" required><br><br>

    DOB:<br>
    <input type="date" name="dob" required><br><br>

    Photo:<br>
    <input type="file" name="photo" required><br><br>

    Password:<br>
    <input type="password" 
       name="password" 
       required
       minlength="8"
       pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}"
       title="Password must be at least 8 characters long and include uppercase, lowercase, number, and special character"><br>
    
    Confirm Password:<br>
    <input type="password" name="confirm_password" required><br><br>

    <input type="submit" value="Register">
</form>
    
    
</body>
</html>