{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User.css' %}">
    <title>Document</title>
</head>

<body>
    <nav>
        <p>This is user html</p>

        <a href="{% url 'Admin' %}">Admin</a>
        <a href="{% url 'User' %}">User</a>
        <a href="{% url 'TakeQuiz' %}">Quiz</a>
        <a href="{% url 'AddQst' %}?category=General">Add Questions</a>

    </nav>

    <form method="POST">
        {% csrf_token %}
        <div class="categoryDiv">
            <h2></h2>
            <p></p>
            <button type="submit" name="cat" value=""></button>
        </div>

        <div class="categoryDiv">
            <h2></h2>
            <p></p>
            <button type="submit" name="cat" value=""></button>

        </div>
    </form>
</body>

</html>

<!-- admin registration django
registration page
  -for admin
  -for user
admin category+ description+add question+edit question add akkan pattanam 
git il push cheyyanam
bootstrap use akkanam
user wrong akkiya question nte right answer kanikkanam

-->

